{% extends 'shop/basic.html' %}

{% block title %} Shop Home {% endblock %}

{% block css %}
    body {
        text-align: center;
    }
{% endblock %}

{% load static %}
{% block js %}
    <script src="{% static 'shop/js/cart.js' %}" defer></script>
{% endblock %}

{% block body %}
<br>
    {% for product in products %}
        <div class="card" style="width: 18rem;">
          <img src="/media/{{ product.product_image }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ product.product_name }}</h5>
            <i class="card-text">{{ product.product_desc }}</i>
            <b class="card-text">{{ product.product_price }}</b>
            <button id="pr{{product.id}}" class="btn btn-primary cart">Add to cart</button>
          </div>
        </div>
    {% endfor %}

{% endblock %}
